<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navbar">

    <div th:fragment="navbar">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/home}">Admin panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a th:href="@{/add}" class="nav-link">Add a new book</a>
                    </li>
                    <li class="nav-item active">
                        <a th:href="@{/bookList}" class="nav-link">View book list</a>
                    </li>
                    <li class="nav-item active">
                        <a th:href="@{/orderList}" class="nav-link">View order list</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link"> Book store</a></li>
                    <li class="nav-item"><a sec:authorize="isAuthenticated" th:href="@{logout}" class="nav-link"> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>
