<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="footer">
    <br/><br/>
    <footer class="text-center text-lg-start" style="background-color: rgba(0, 0, 0, 0.2)">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                    <a th:href="@{/}"><img class="img-fluid" src="image/logo.png" style="width: 200px" alt="logo"/></a>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">contact</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p><i class="fa fa-map-pin"></i> 123 XXX Ave<br/> Boston MA, USA 123456</p>
                        </li>
                        <li>
                            <p><i class="fa fa-phone"></i> Phone (USA) : +123456789</p>
                        </li>
                        <li>
                            <p><i class="fa fa-envelope"></i> E-mail : info@info.lt</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark"> Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark"> Terms &#38; Conditions</a>
                        </li>
                        <li>
                            <a th:href="@{/faq}" class="text-dark">Frequently ask questions</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Store hours</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>Monday - saturday: 9 - 23</p>
                        </li>
                        <li>
                            <p>Sunday : 10 - 22</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 text-white bg-dark" >
            © 2020 Copyright:
            <a class="text-white" th:href="@{/}">Grusius bookstore</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>


<div th:fragment="scripts">
    <script th:src="@{js/jquery-3.5.1.js.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{js/scripts.js}"></script>
    <script th:src="@{js/bootbox.min.js}"></script>

</div>
</body>
</html>
