<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmls:sec="http://www.w3.org/1999/xhtml"
      xmlns:xmls="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="styles">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book store">
    <meta name="author" content="Grusius">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{image/ico.png}" rel="icon">

    <title>Grusius book store</title>
</head>

<body>
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Book store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/bookshelf}" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BOOKS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/bookshelf}">Browse bookshelf</a>
                        <a class="dropdown-item" th:href="@{/hours}">Store hours &#38; Directions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/faq}">FAQ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" th:action="@{/searchBook}" method="post">
                        <input class="form-control mr-sm-2" type="search" placeholder="Book title"
                               aria-label="Book title" name="keyword">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a th:href="@{/cart}" class="nav-link"> Shopping cart</a></li>
                <li class="nav-item"><a sec:authorize="isAnonymous" th:href="@{/login}" class="nav-link"> My account</a>
                </li>
                <li class="nav-item"><a sec:authorize="isAuthenticated" th:href="@{/myProfile}" class="nav-link"> My
                    account</a></li>
                <li class="nav-item"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/home}" class="nav-link"> Admin Panel</a></li>
                <li class="nav-item"><a sec:authorize="isAuthenticated" th:href="@{logout}" class="nav-link"> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="headLineUsername">
    <div class="row" style="margin-bottom: -100px">
        <div class="col-sm-8">
            <h1 class="head-line"><span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span></h1>
        </div>
        <div class="col-sm-4">
            <img src="image/logo.png" class="img-fluid" alt="logo"/>
        </div>
    </div>
    <img src="image/wood.png" class="img-fluid" style="margin-top: 50px" alt="wood"/>
</div>

<div th:fragment="headLine">
    <div class="row" style="margin-bottom: -100px">
        <div class="col-sm-8">
            <h1 class="head-line">All books</h1>
        </div>
        <div class="col-sm-4">
            <img src="image/logo.png" class="img-fluid" alt="logo"/>
        </div>
    </div>
    <img src="image/wood.png" class="img-fluid" style="margin-top: 50px" alt="wood"/>
</div>
</body>
</html>
