
.navbar {
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;;
}

.container {
    width: 93%;
}

/*Acc name with line begin*/
.head-line {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    font-size:4vw;
}
.head-line::before, .head-line::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #000;
}
.head-line::before {
    margin-right: .5em;
}
.head-line::after {
    margin-left: .5em;
}
/*Acc name with line end*/
