<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

    <div th:replace="common/header :: headLine"></div>

    <div class="row" style="margin-top: 10px">
        <div class="col-sm-9 col-sm-offset-3">
            <h5>Bad request. click <a th:href="@{/}">here</a> to return to the home page.</h5>
        </div>
    </div>

</div>

<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>

</body>
</html>

