<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: styles"></head>

<div sec:authorize="hasRole('ROLE_USER')">
    <center><h2>This content is only shows to ADMIN.</h2></center>
</div>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<div th:replace="common/adminHeader :: navbar"></div>

<div class="container">

    <table table id="bookListTable" class="table table-striped">
        <thead>
        <tr>
            <th><input th:id="selectAllBooks" type="checkbox"/></th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>List price</th>
            <th>Our price</th>
            <th>Active?</th>
            <th>Operation?</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="book : ${bookList}">
            <td>
                <input hidden="hidden" name="id" th:value="${book.id}"/>
                <input th:id="'selected'+ ${book.id}" class="checkboxBook" type="checkbox"/>
            </td>
            <td><a th:href="@{/bookInfo(id=${book.id})}"><span th:text="${book.title}"></span></a></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.category}"></td>
            <td><span th:text="${book.listPrice}"></span> &euro;</td>
            <td><span th:text="${book.ourPrice}"></span> &euro;</td>
            <td th:text="${book.active}"></td>
            <td>
                <input hidden="hidden" name="id" th:value="${book.id}"/>
                <button th:id="'oneBook-'+${book.id}" class="btn btn-outline-danger btn-sm delete-book" type="submit"
                        value="delete">
                    <span class="fa fa-times"></span> Delete
                </button>
                <button class="btn btn-sm btn-outline-primary"><a th:href="@{/updateBook?id=}+${book.id}"><span
                        class="fa fa-pencil"></span> Edit
                </a></button>
            </td>
        </tr>
        </tbody>
    </table>
    <button th:id="deleteSelected" class="btn btn-danger">Delete selected</button>
</div>

<div th:replace="common/footer :: scripts"></div>

<script>

    $(document).ready(function () {
        var table = $('#bookListTable').DataTable({
            'dom': 'Rlfrtip',
            'colReorder': {
                'allowReorder': false
            }
        });
    });


</script>

</body>
</html>
