<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

    <div th:replace="common/header :: headLineUsername"></div>
    
    <form th:action="@{/addItem}" method="post">
        <input hidden="hidden"  th:field="*{book.id}" />

        <nav aria-label="breadcrumb" style="margin-top: 10px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/bookshelf}"><i class="fa fa-long-arrow-left" aria-hidden="true"> Back to book list</i></a></li>
                <li class="ml-auto"><a th:href="@{/cart}"><i class="fa fa-cart-plus" aria-hidden="true"> Go to cart</i></a></li>
            </ol>
        </nav>

        <div class="row" style="margin-top: 10px">
            <div class="col-sm-3">
                <img class="img-fluid shelf-book" th:src="@{/image/book/}+${book.id}+'.png'" alt="bookPicture"/>
            </div>
            <div class="col-sm-9">
                <h3 th:text="${book.title}" >Book title</h3>
                <div class="row">
                    <div class="col-sm-5">
                        <h5><strong>Author: </strong><span th:text="${book.author}"></span></h5>
                        <p><strong>Publisher: </strong><span th:text="${book.publisher}"></span></p>
                        <p><strong>Publication Date: </strong><span th:text="${book.publicationDate}"></span></p>
                        <p><strong>Language: </strong><span th:text="${book.language}"></span></p>
                        <p><strong>Category: </strong><span th:text="${book.category}"></span></p>
                        <p><strong><span th:text="${book.format}"></span>: </strong><span
                                th:text="${book.numberOfPages}"></span> pages</p>
                        <p><strong>ISBN: </strong><span th:text="${book.isbn}"></span></p>
                        <p><strong>Shipping weight: </strong><span th:text="${book.shippingWeight}"></span> Kg</p>
                    </div>

                    <div class="col-sm-7">
                        <div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Our price: <span style="color: #db3208">&euro; <span
                                                th:text="${#numbers.formatDecimal(book.ourPrice, 0, 'COMMA', 2, 'POINT' )}"></span></span></h4>
                                        <p>List price: <span style="text-decoration: line-through">&euro; <span
                                                th:text="${#numbers.formatDecimal(book.listPrice, 0, 'COMMA', 2, 'POINT' )}"></span></span></p>
                                        <p>You save: &euro;<span th:text="${#numbers.formatDecimal((book.listPrice - book.ourPrice), 0, 'COMMA', 2, 'POINT' )}"></span></p>
                                        <span>Qty: </span>
                                        <select name="qty">
                                            <option th:each="qty : ${qtyList}" th:value="${qty}"
                                                    th:text="${qty}"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 th:if="*{book.inStockNumber&gt;10}" style="color: green">In stock</h4>
                                        <h4 th:if="*{book.inStockNumber&lt;10 and book.inStockNumber&gt;0}"
                                            style="color: green">Only <span th:text="${book.inStockNumber}"></span> in
                                            stock</h4>
                                        <h4 th:if="*{book.inStockNumber==0}" style="color: darkred">Out of stock</h4>
                                        <button type="submit" class="btn btn-warning"
                                                style="color: black;border: 1px solid black; padding: 10px 40px 10px 40px">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <p th:utext="${book.description}"></p>
            </div>
        </div>
    </form>

</div>

<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>

</body>
</html>
