<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: styles"></head>

<div sec:authorize="hasRole('ROLE_USER')">
    <div style="text-align: center;"><h2>This content is only shows to ADMIN.</h2></div>
</div>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<div th:replace="common/adminHeader :: navbar" ></div>

<div class="container">
    <div>
        <ul class="breadcrumb">
            <li><a th:href="@{/bookList}"><i class="fa fa-long-arrow-left" aria-hidden="true"> Go back</i></a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a th:href="@{/updateBook?id=}+${book.id}">Edit</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img th:src="@{/image/book/}+${book.id}+'.png'" class="img-fluid center-block">
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <h3 th:text="${book.title}"></h3>
            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Author: </strong><span th:text="${book.author}"></span></p>
                    <p><strong>Publisher: </strong><span th:text="${book.publisher}"></span></p>
                    <p><strong>Publication date: </strong><span th:text="${book.publicationDate}"></span></p>
                    <p><strong>Language: </strong><span th:text="${book.language}"></span></p>
                    <p><strong>Category: </strong><span th:text="${book.category}"></span></p>
                    <p><strong>Pages: </strong><span th:text="${book.numberOfPages}"></span></p>
                </div>
                <div class="col-sm-6">
                    <p><strong>Format: </strong><span th:text="${book.format}"></span></p>
                    <p><strong>ISBN: </strong><span th:text="${book.isbn}"></span></p>
                    <p><strong>Shipping weight: </strong><span th:text="${book.shippingWeight}"></span></p>
                    <p><strong>List price: </strong><span th:text="${book.listPrice}"></span></p>
                    <p><strong>Our price: </strong><span th:text="${book.ourPrice}"></span></p>
                    <p><strong>Number in stock: </strong><span th:text="${book.inStockNumber}"></span></p>
                </div>
            </div>
            <p><strong>Description: </strong><span th:utext="${book.description}"></span></p>
        </div>
    </div>
</div>

<div th:replace="common/footer :: scripts"></div>
</body>
</html>
