<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

    <div th:replace="common/header :: headLine"></div>

    <div class="row" style="margin-top: 60px">
        <div class="col-md-3">
            <h3><label for="category">Category</label></h3>
            <div class="list-group" id="category">
                <a th:href="@{/bookshelf(category='all')}" th:classappend="${activeAll}? 'active'"
                   class="list-group-item">All</a>
                <a th:href="@{/searchByCategory(category='Management')}" th:classappend="${activeManagement}? 'active'"
                   class="list-group-item">Management</a>
                <a th:href="@{/searchByCategory(category='Fiction')}" th:classappend="${activeFiction}? 'active'"
                   class="list-group-item">Fiction</a>
                <a th:href="@{/searchByCategory(category='Engineering')}" th:classappend="${activeEngineering}? 'active'"
                   class="list-group-item">Engineering</a>
                <a th:href="@{/searchByCategory(category='Programing')}" th:classappend="${activePrograming}? 'active'"
                   class="list-group-item">Programing</a>
                <a th:href="@{/searchByCategory(category='Arts')}" th:classappend="${activeArts}? 'active'"
                   class="list-group-item">Arts</a>
            </div>
        </div>
        <div class="col-md-9">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic">Oops, no results found</h5>
            </div>


            <table id="bookList">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="book-item" data-th-each="book : ${bookList}">
                    <td>
                        <div th:if="${book != null}">
                            <div class="row" style="margin-bottom: 50px">
                                <div class="col-md-3">
                                    <a th:href="@{/bookDetail?id=}+${book.id}">
                                        <img class="img-fluid shelf-book" th:src="@{/image/book/}+${book.id}+'.png'" alt="bookPicture"/></a>
                                </div>
                                <div class="col-md-9">
                                    <a th:href="@{/bookDetail?id=}+${book.id}"><h5 th:text="${book.title}" style="color: black;font-weight: bold"></h5></a>
                                    <span th:text="${book.publicationDate}"></span><br/>
                                    <span th:text="${book.author}" style="font-weight: bold"></span><br/>
                                    <span><span th:text="${#strings.capitalize(book.format)}" style="font-weight: bold"></span>:</span>
                                    <span th:text="${book.numberOfPages}"></span><span> pages</span><br/>
                                    <span style="font-size:x-large;color:#db3208;">$<span th:text="${#numbers.formatDecimal(book.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
                                    <span style="text-decoration: line-through;">$<span th:text="${#numbers.formatDecimal(book.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span><br/>
                                    <p th:utext="${#strings.abbreviate(book.description, 400)}"></p>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>
<script>
    $(document).ready(function () {
        $('#bookList').DataTable({
            "ordering": false
        });
    });
</script>
</body>
</html>
