<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

    <div th:replace="common/header :: headLine"></div>

    <form th:action="@{/checkout}" method="post">
        <div class="row" style="margin-top: 10px">

            <!--        left panel-->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <button type="submit" class="btn btn-warning btn-block">Place your order</button>
                        <p style="font-size: smaller">By placing your order, you agree to Grusius bookstore
                            <a href="#">privacy</a> notice and <a href="#">conditions</a> of use.</p>
                        <hr/>
                        <h3>Order Summary</h3>
                        <div class="row">
                            <div class="col-7 text-left">Total without PVM:</div>
                            <div class="col-5 text-right">&euro; <span
                                    th:with="total=${shoppingCart.grandTotal-shoppingCart.grandTotal*0.21}"
                                    th:text="${#numbers.formatDecimal(total, 0 ,2)}"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-7 text-left">PVM:</div>
                            <div class="col-5 text-right">
                                &euro; <span th:with="tax=${shoppingCart.grandTotal*0.21}"
                                        th:text="${#numbers.formatDecimal(tax, 0 ,2)}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7 text-left">
                                <h4 style="color: darkred"><strong>Order total</strong></h4>
                            </div>
                            <div class="col-5 text-right">
                                <h4>
                                    <strong style="color: darkred;">&euro;<span th:text="${shoppingCart.grandTotal}"></span></strong>
                                </h4>
                            </div>
                        </div>


                        <div class="card-footer">Shipping and handling havent applied.</div>
                    </div>
                </div>
            </div>

            <!--            right panel-->
            <div class="col-lg-8">
                <div th:if="${missingRequiredField}">
                    <h5 class="alert alert-warning"> There are some fields missing. Field with * is required</h5>
                </div>
                <!--acordionas-->
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h4 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion"
                                        data-target="#shippingInfo"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    1. Shipping Address
                                </button>
                            </h4>
                        </div>

                        <div id="shippingInfo" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion" th:classappend="${classActiveShipping}? 'in'">
                            <div class="card-body">
                                <table class="table" th:if="${not emptyShippingList}">
                                    <thead>
                                    <tr>
                                        <th>Available Shipping Address</th>
                                        <th>Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userShipping : ${userShippingList}">
                                        <td th:text="${userShipping.userShippingStreet1}+' '+${userShipping.userShippingStreet2}+', '+${userShipping.userShippingCity}
												+', '+${userShipping.userShippingCountry}"></td>
                                        <td><a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">use
                                            this address</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <label for="shippingName">* Name</label>
                                    <input type="text" class="form-control"
                                           id="shippingName"
                                           placeholder="Receiver Name"
                                           name="shippingAddressName"
                                           th:value="${shippingAddress.shippingAddressName}"/>
                                </div>

                                <div class="form-group">
                                    <label for="shippingStreet">* Street Address</label> <input
                                        type="text" class="form-control" id="shippingStreet"
                                        placeholder="Street Address 1" name="shippingAddressStreet1"
                                        th:value="${shippingAddress.shippingAddressStreet1}"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                           placeholder="Street Address 2" name="shippingAddressStreet2"
                                           th:value="${shippingAddress.shippingAddressStreet2}"/>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="shippingCity">* City</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="shippingCity"
                                                       placeholder="Shipping City"
                                                       th:name="shippingAddressCity"
                                                       required="required"
                                                       th:value="${shippingAddress.shippingAddressCity}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="shippingCountry">* Country</label>
                                                <select id="shippingCountry" class="form-control"
                                                        th:name="shippingAddressCountry"
                                                        th:value="${shippingAddress.shippingAddressCountry}"
                                                        required="required">
                                                    <option value="" disabled="disabled">Please select an option
                                                    </option>
                                                    <option th:each="country : ${countryList}"
                                                            th:text="${country.displayValue}"
                                                            th:selected="(${shippingAddress.shippingAddressCountry}==${country})"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="shippingZipcode">* Zipcode</label> <input
                                                    type="text" class="form-control" id="shippingZipcode"
                                                    placeholder="Shipping Zipcode"
                                                    th:name="shippingAddressZipcode" required="required"
                                                    th:value="${shippingAddress.shippingAddressZipcode}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a data-toggle="collapse" data-parent="#accordion"
                                   class="btn btn-warning pull-right" href="#paymentInfo">Next</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h4 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-parent="#accordion"
                                        data-target="#paymentInfo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    2. Payment Information
                                </button>
                            </h4>
                        </div>
                        <div id="paymentInfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                             th:classappend="${classActivePayment}? 'in'">
                            <div class="card-body">
                                <table class="table" th:if="${not emptyPaymentList}">
                                    <thead>
                                    <tr>
                                        <th>Available Credit Card</th>
                                        <th>Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userPayment : ${userPaymentList}">
                                        <td th:text="${userPayment.cardName}"></td>
                                        <td><a
                                                th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">use
                                            this payment</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- Credit Card Information -->
                                <div class="row">
                                    <div class="col-12">
                                        <img th:src="@{/image/creditcard.png}" class="img-responsive"/><br/>
                                        <div class="form-group">
                                            <label for="cardType">* Select Card Type: </label> <select
                                                class="form-control" id="cardType" name="type"
                                                th:value="${payment.type}">
                                            <option value="visa">Visa</option>
                                            <option value="mastercard">Mastercard</option>
                                            <option value="discover">Discover</option>
                                            <option value="amex">American Express</option>
                                        </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="cardHolder">* Card Holder Name:</label> <input
                                                type="text" class="form-control" id="cardHolder"
                                                required="required" placeHolder="Card Holder Name"
                                                th:name="holderName" th:value="${payment.holderName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardNumber">* Card Number:</label>
                                            <div class="input-group">
                                                <input type="tel" class="form-control" id="cardNumber"
                                                       required="required" placeHolder="Valid Card Number"
                                                       th:name="cardNumber" th:value="${payment.cardNumber}"/>
                                                <span class="input-group"><i
                                                        class="fa fa-credit-card" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-group">
                                            <label>* Expiration Date</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <select class="form-control" name="expiryMonth"
                                                            required="required" th:value="${payment.expiryMonth}">
                                                        <option disabled="disabled">-- Month --</option>
                                                        <option value="01">Jan (01)</option>
                                                        <option value="02">Feb (02)</option>
                                                        <option value="03">Mar (03)</option>
                                                        <option value="04">Apr (04)</option>
                                                        <option value="05">May (05)</option>
                                                        <option value="06">June (06)</option>
                                                        <option value="07">July (07)</option>
                                                        <option value="08">Aug (08)</option>
                                                        <option value="09">Sep (09)</option>
                                                        <option value="10">Oct (10)</option>
                                                        <option value="11">Nov (11)</option>
                                                        <option value="12">Dec (12)</option>
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control" name="expiryYear"
                                                            th:value="${payment.expiryYear}">
                                                        <option disabled="disabled">-- Year --</option>
                                                        <option value="21">2021</option>
                                                        <option value="22">2022</option>
                                                        <option value="23">2023</option>
                                                        <option value="24">2024</option>
                                                        <option value="25">2025</option>
                                                        <option value="26">2026</option>
                                                        <option value="27">2027</option>
                                                        <option value="28">2028</option>
                                                        <option value="29">2029</option>
                                                        <option value="30">2030</option>
                                                        <option value="31">2031</option>
                                                        <option value="32">2032</option>
                                                        <option value="33">2033</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="cardCVC">CV Code</label>
                                            <input id="cardCVC" type="tel"
                                                   class="form-control"
                                                   name="cvc" placeholder="CVC"
                                                   th:name="cvc"
                                                   th:value="${payment.cvc}"/>
                                        </div>
                                    </div>
                                </div>


                                <!-- Billing Address -->
                                <div class="checkbox">
                                    <label>
                                        <input id="theSameAsShippingAddress" type="checkbox"
                                               name="billingSameAsShipping" value="true"/>
                                        The same as shipping address
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="billingName">* Name</label>
                                    <input type="text" class="form-control billingAddress" id="billingName"
                                           placeholder="Receiver Name"
                                           th:name="billingAddressName" required="required"
                                           th:value="${billingAddress.billingAddressName}"/>
                                </div>
                                <div class="form-group">
                                    <label for="billingAddress">* Street Address</label>
                                    <input type="text" class="form-control billingAddress" id="billingAddress"
                                           placeholder="Street Address 1"
                                           th:name="billingAddressStreet1" required="required"
                                           th:value="${billingAddress.billingAddressStreet1}"/>
                                    <input type="text" class="form-control billingAddress"
                                           placeholder="Street Address 2"
                                           th:name="billingAddressStreet2"
                                           th:value="${billingAddress.billingAddressStreet2}"/>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="billingCity">* City</label>
                                            <input type="text" class="form-control billingAddress" id="billingCity"
                                                   placeholder="Billing city" th:name="billingAddressCity"
                                                   required="required" th:value="${billingAddress.billingAddressCity}"/>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="billingCountry">* Country</label>
                                            <select id="billingCountry" class="form-control billingAddress"
                                                    th:name="billingAddressCountry"
                                                    th:value="${billingAddress.billingAddressCountry}"
                                                    required="required">
                                                <option value="" disabled="disabled">Please select
                                                    an option
                                                </option>
                                                <option th:each="country : ${countryList}" th:text="${country.displayValue}"
                                                        th:selected="(${billingAddress.billingAddressCountry}==${country})"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="billingZipcode">* Zipcode</label>
                                            <input type="text" class="form-control billingAddress" id="billingZipcode"
                                                   placeholder="Billing Zipcode" th:name="billingAddressZipcode"
                                                   required="required"
                                                   th:value="${billingAddress.billingAddressZipcode}"/>
                                        </div>
                                    </div>
                                </div>

                                <a data-toggle="collapse" data-parent="#accordion"
                                   class="btn btn-warning pull-right" href="#shippingMethod">Next</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h4 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#shippingMethod" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    3. Select shipping
                                </button>
                            </h4>
                        </div>
                        <div id="shippingMethod" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">
                                <h4>Choose your shipping method:</h4>
                                <div class="radio">
                                    <label> <input type="radio" name="shippingMethod"
                                                   value="groundShipping" checked="checked"/> Ground Shipping
                                    </label>
                                </div>
                                <div class="radio">
                                    <label> <input type="radio" name="shippingMethod"
                                                   value="premiumShipping"/> Premium Shipping
                                    </label>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion"
                                   class="btn btn-warning pull-right" href="#reviewItems">Next</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h4 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#reviewItems" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    4. Review Items
                                </button>
                            </h4>
                        </div>
                        <div id="reviewItems" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-8">
                                        <h4>Products</h4>
                                    </div>
                                    <div class="col-2">
                                        <h4>Price</h4>
                                    </div>
                                    <div class="col-2">
                                        <h4>Qty</h4>
                                    </div>
                                </div>

                                <!-- display products in cart -->
                                <div class="row" th:each="cartItem : ${cartItemList}">
                                    <hr/>
                                    <div class="col-2">
                                        <a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
                                                class="img-responsive shelf-book"
                                                th:src="@{/image/book/}+${cartItem.book.id}+'.png'"
                                                style="width: 70px;"/>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <div style="margin-left: 50px;">
                                            <a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
                                                    th:text="${cartItem.book.title}"></h4></a>
                                            <p th:if="${cartItem.book.inStockNumber&gt;10}"
                                               style="color: green;">In Stock</p>
                                            <p
                                                    th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}"
                                                    style="color: green;">
                                                Only <span th:text="${cartItem.book.inStockNumber}"></span>
                                                In Stock
                                            </p>
                                            <p th:if="${cartItem.book.inStockNumber==0}"
                                               style="color: darkred;">Product Unavailable</p>
                                            <a th:href="@{/removeItem?id=}+${cartItem.id}"><i class="fa fa-trash" aria-hidden="true" style="color: #db3208"> delete</i></a>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <h5 style="color: #db3208; font-size: large;">
                                            &euro; <span th:text="${cartItem.book.ourPrice}"
                                                         th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                                        </h5>
                                    </div>

                                    <div class="col-2">
                                        <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                                    </div>

                                </div>

                                <hr/>
                                <h4 class="col-12 text-right">
                                    <strong style="font-size: large;">Order Total (<span
                                            th:text="${#lists.size(cartItemList)}"></span> items):
                                    </strong> <span style="color: #db3208; font-size: large;">&euro;<span
                                        th:text="${shoppingCart.grandTotal}"></span></span>
                                </h4>
                                <br/>
                                <br/>
                                <button type="submit" class="btn btn-warning btn-block">Place
                                    your order
                                </button>
                                <p style="font-size: smaller;">
                                    By placing your order, you agree to Grusius Bookstore <a href="#">privacy</a>
                                    notice and <a href="#">conditions</a> of use.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </form>

</div>

<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>

</body>
</html>
