<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    <div class="row banner" style="background-image: url('image/bgline.png');">
        <div class="col-sm">
            <!--            karuseles pradzia-->
            <div class="panel panel-default" style="margin: 15px 0px 15px 0px">
                <div class="panel-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                     src="https://images.unsplash.com/photo-1590658268037-6bf12165a8df?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"
                                     alt="First slide">
                                <div class="carousel-caption">
                                    <h4>First item label</h4>
                                    <p>belenkoks tekstas belenkiek</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="https://images.unsplash.com/photo-1590658058105-af4b65f8871b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80"
                                     alt="Second slide">
                                <div class="carousel-caption">
                                    <h4>Second item label</h4>
                                    <p>belenkoks tekstas belenkiek</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                     src="https://images.unsplash.com/photo-1598522017610-edbea54edd64?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1193&q=80"
                                     alt="Third slide">
                                <div class="carousel-caption">
                                    <h4>Third item label</h4>
                                    <p>belenkoks tekstas belenkiek</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--            karuseles pabaiga-->
        </div>
        <div class="col-sm">
            <img src="image/logo.png" class="img-fluid" alt=""/>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a th:href="@{/bookshelf}"><img src="image/bestseller.png" class="img-fluid" alt=""/></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a th:href="@{/hours}"> <img src="image/hours.png" class="img-fluid" alt=""/></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a th:href="@{/faq}"><img src="image/faq.png" class="img-fluid" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <!--                        skirtukas pr-->
    <div>
        <div class="home-headline"><span><center>Featured books</center></span></div>
        <hr style="margin-top:-19px; margin-bottom: 28px "/>
    </div>
    <!--                        skirtukas pb            -->
    <!--                        karusele2 pr-->
    <div class="row">
        <div id="featured-books" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#featured-books" data-slide-to="0" class="active"></li>
                <li data-target="#featured-books" data-slide-to="1"></li>
                <li data-target="#featured-books" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="Listbox">
                <img src="image/shelf.png" class="img-fluid"/>
                <div class="carousel-caption">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=1}"><img class="img-fluid" src="image/book/1.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=2}"><img class="img-fluid" src="image/book/2.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=3}"><img class="img-fluid" src="image/book/3.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=4}"><img class="img-fluid" src="image/book/4.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=5}"><img class="img-fluid" src="image/book/5.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=6}"><img class="img-fluid" src="image/book/6.png" style="height:100%;"></a></div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=7}"><img class="img-fluid" src="image/book/7.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=5}"><img class="img-fluid" src="image/book/5.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=2}"><img class="img-fluid" src="image/book/2.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=3}"><img class="img-fluid" src="image/book/3.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=6}"><img class="img-fluid" src="image/book/6.png" style="height:100%;"></a></div>
                            <div class="col-sm-2"><a th:href="@{/bookDetail?id=1}"><img class="img-fluid" src="image/book/1.png" style="height:100%;"></a></div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-2" ><a th:href="@{/bookDetail?id=2}"><img class="img-fluid" src="image/book/2.png" style="height:100%;"></a></div>
                            <div class="col-sm-2" ><a th:href="@{/bookDetail?id=3}"><img class="img-fluid" src="image/book/3.png" style="height:100%;"></a></div>
                            <div class="col-sm-2" ><a th:href="@{/bookDetail?id=4}"><img class="img-fluid" src="image/book/4.png" style="height:100%;"></a></div>
                            <div class="col-sm-2" ><a th:href="@{/bookDetail?id=5}"><img class="img-fluid" src="image/book/5.png" style="height:100%;"></a></div>
                            <div class="col-sm-2" ><a th:href="@{/bookDetail?id=6}"><img class="img-fluid" src="image/book/6.png" style="height:100%;"></a></div>
                            <div class="col-sm-2" ><a th:href="@{/bookDetail?id=7}"><img class="img-fluid" src="image/book/7.png" style="height:100%;"></a></div>

                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#featured-books" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#featured-books" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--                          karusele2  pb-->
</div>

<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>

</body>
</html>
