<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
     <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<p>Dear <span th:text="${user.firstName}">,</span></p>
<br/>
<p>Thank you for shopping from Grusius book store, we hope you had a good time with our service!</p>
<p>Your order number is: <strong>#<span th:text=${order.id}></span></strong>. Here is your order detail:</p>
<h2>Order detail for purchase #<span th:text="${order.id}"></span></h2>
<hr/>

<table>
    <tr>
        <th>Billing detail</th>
        <th>Payment information</th>
        <th>Shipping address</th>
    </tr>
    <tr>
        <td>
            <span th:text="${order.billingAddress.billingAddressName}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressCountry}"></span><br/>
            <span th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
        </td>
        <td>
            <span th:text="${order.payment.holderName}"></span><br/>
            <span th:text="${order.payment.type}"></span><br/>
            <span th:text="${order.payment.cardNumber}"></span><br/>
            <span th:text="${order.payment.expiryMonth}"></span><br/>
            <span th:text="${order.payment.expiryYear}"></span><br/>
        </td>
        <td>
            <span th:text="${order.shippingAddress.shippingAddressName}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressStreet1}+''+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressCountry}"></span><br/>
            <span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br/>
        </td>
    </tr>
</table>

<h3><strong>Order summary</strong></h3>
<table>
    <thead>
    <tr>
        <td><strong>Item Name</strong></td>
        <td class="text-center"><strong>Item Price</strong></td>
        <td class="text-center"><strong>Item Quantity</strong></td>
        <td class="text-right"><strong>Total</strong></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cartItemList}">
        <td><span data-th-text="${cartItem.book.title}"></span></td>
        <td class="text-center" data-th-text="${cartItem.book.ourPrice}"></td>
        <td class="text-center" data-th-text="${cartItem.qty}"></td>
        <td class="text-right" data-th-text="${cartItem.subtotal}"></td>
    </tr>
    <tr>
        <td class="highrow"></td>
        <td class="highrow"></td>
        <td class="highrow text-center"><strong>Subtotal</strong></td>
        <td th:with="total=${order.orderTotal-order.orderTotal*0.21}"
            data-th-text="${#numbers.formatDecimal(total,0,2)}"
            class="highrow text-right"></td>
    </tr>
    <tr>
        <td class="emptyrow"></td>
        <td class="emptyrow"></td>
        <td class="emptyrow text-center"><strong>PVM</strong></td>
        <td class="emptyrow text-right" data-th-text="${#numbers.formatDecimal(order.orderTotal*0.21,0,2)}"></td>
    </tr>
    <tr>
        <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
        <td class="emptyrow"></td>
        <td class="emptyrow text-center">Total</td>
        <td class="emptyrow text-right" data-th-text="${order.orderTotal}"></td>
    </tr>
    </tbody>
</table>

<br/>
<p>Best,</p>
<p>Grusius Bookstore</p>
<p>Since 2020</p>
</body>
</html>
