<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: styles"></head>

<div sec:authorize="hasRole('ROLE_USER')">
    <center><h2>This content is only shows to ADMIN.</h2></center>
</div>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<div th:replace="common/adminHeader :: navbar"></div>

<div class="container">
    <div class="table-responsive">

        <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">

            <table class="table table-sm table-inverse">
                <thead>
                <tr>
                    <th>Order date</th>
                    <th>Buyer name</th>
                    <th>Order number</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderList}">
                    <td>
                        <a th:href="@{/orderDetails(id=${order.id})}"><span th:text="${order.orderDate}"></span></a>
                    </td>
                    <td data-th-text="${order.user.username}"></td>
                    <td>#<span data-th-text="${order.id}"></span></td>
                    <td><span data-th-text="${order.orderTotal}"></span> &euro;</td>
                    <td data-th-text="${order.orderStatus}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="common/footer :: scripts"></div>

<script>
    $(document).ready(function () {
        $('#orderListTable').DataTable();
    });
</script>

</body>
</html>
