<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: styles"></head>

<div sec:authorize="hasRole('ROLE_USER')">
    <center><h2>This content is only shows to ADMIN.</h2></center>
</div>
<body sec:authorize="hasRole('ROLE_ADMIN')">

<div th:replace="common/adminHeader :: navbar" ></div>

<div class="container">


    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h2>Order detail for purchase number #<span th:text="${order.id}"></span></h2>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading"><strong>Billing details</strong></div>
                        <div class="panel-body">
                            <b>Street: </b><span th:text="${order.billingAddress.billingAddressStreet1}+' '+${order.billingAddress.billingAddressStreet2}"></span><br/>
                            <b>City: </b><span th:text="${order.billingAddress.billingAddressCity}"></span><br/>
                            <b>Country: </b><span th:text="${order.billingAddress.billingAddressCountry}"></span><br/>
                            <b>Zip code: </b><span th:text="${order.billingAddress.billingAddressZipcode}"></span><br/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading"><strong>Buyer information</strong></div>
                        <div class="panel-body">
                            <b>Username: </b> <span th:text="${order.user.username}"></span><br/>
                            <b>First name: </b> <span th:text="${order.user.firstName}"></span><br/>
                            <b>Last name: </b> <span th:text="${order.user.lastName}"></span><br/>
                            <b>Telephone: </b> <span th:text="${order.user.phone}"></span><br/>
                            <b>E-mail: </b><span th:text="${order.user.email}"></span><br/>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading"><strong>Shipping address</strong></div>
                        <div class="panel-body">
                            <b>Street: </b><span th:text="${order.shippingAddress.shippingAddressStreet1}+' '+${order.shippingAddress.shippingAddressStreet2}"></span><br/>
                            <b>City: </b><span th:text="${order.shippingAddress.shippingAddressCity}"></span><br/>
                            <b>Country: </b> <span th:text="${order.shippingAddress.shippingAddressCountry}"></span><br/>
                            <b>Zip code: </b> <span th:text="${order.shippingAddress.shippingAddressZipcode}"></span><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">
                <h3 class="text-center"><strong>Order summary</strong></h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-codensed">
                        <thead>
                        <tr>
                            <td><strong>Item name</strong></td>
                            <td class="text-center"><strong>Item price</strong></td>
                            <td class="text-center"><strong>Item quantity</strong></td>
                            <td class="text-right"><strong>Total</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartItem : ${cartItemList}">
                            <td data-th-text="${cartItem.book.title}"></td>
                            <td class="text-center" data-th-text="${cartItem.book.ourPrice}"></td>
                            <td class="text-center" data-th-text="${cartItem.qty}"></td>
                            <td class="text-right" ><span data-th-text="${cartItem.subtotal}"></span> &euro;</td>
                        </tr>
                        <tr>
                            <td class="highrow"></td>
                            <td class="highrow"></td>
                            <td class="highrow text-center"><strong>Subtotal</strong></td>
                            <td class="highrow text-right"><span th:with="total=${order.orderTotal-order.orderTotal*0.21}"
                                                                 data-th-text="${#numbers.formatDecimal(total, 1, 2)}"></span> &euro;</td>
                        </tr>
                        <tr>
                            <td class="emptyrow"></td>
                            <td class="emptyrow"></td>
                            <td class="emptyrow text-center"><strong>PVM</strong> 21%</td>
                            <td class="emptyrow text-right"><span data-th-text="${#numbers.formatDecimal(order.orderTotal*0.21,1,2)}"></span> &euro;</td>
                        </tr>
                        <tr>
                            <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                            <td class="emptyrow"></td>
                            <td class="emptyrow text-center">Total</td>
                            <td class="emptyrow text-right" ><span data-th-text="${order.orderTotal}"></span> &euro;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/updateOrderStatus}" method="post">
        <input hidden="hidden" th:field="*{order.id}" />
        <div class="row" style="margin-top: 20px;">
            <table class="table table-sm table-inverse">
                <thead>
                <tr>
                    <th>ORDER STATUS</th>
                    <th>OPTIONS</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-th-text="${order.orderStatus}"></td>
                    <td>
                        <select name="select">
                            <option th:each="select : ${selectList}" th:value="${select}"
                                    th:text="${select}"></option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-warning">Update status</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>


<div th:replace="common/footer :: scripts"></div>

<script>
    $(document).ready(function () {
        $('#orderListTable').DataTable();
    });
</script>

</body>
</html>













