<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

    <div th:replace="common/header :: headLine"></div>

    <div class="row" style="margin-top: 10px">
        <div class="col-sm-12">
            <div class="alert alert-success">
                <h3><i class="fa fa-check" aria-hidden="true" style="color: limegreen"></i></h3>
                Thank you, tout order has been placed.
                <h4>The estimated delivery time is <span th:text="${estimatedDeliveryDate}"></span></h4>
            </div>
            <h3>List of items</h3>
            <div class="row" th:each="cartItem : ${cartItemList}">
                <hr/>
                <div class="col-2">
                    <a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
                            class="img-responsive shelf-book"
                            th:src="#{adminPath}+@{/image/book/}+${cartItem.book.id}+'.png'"
                            style="width: 70px;"/>
                    </a>
                </div>
                <div class="col-6">
                    <div style="margin-left: 50px;">
                        <a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
                                th:text="${cartItem.book.title}"></h4></a>
                    </div>
                </div>

                <div class="col-2">
                    <h5 style="color: #db3208; font-size: large;">
                        $<span th:text="${cartItem.book.ourPrice}"
                               th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                    </h5>
                </div>

                <div class="col-2">
                    <h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
                </div>

            </div>

        </div>
    </div>


</div>


<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>
</body>
</html>
