<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: styles"></head>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">

    <div th:replace="common/header :: headLine"></div>

    <nav aria-label="breadcrumb" style="margin-top: 10px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-warning" th:href="@{/bookshelf}">Continue shopping</a></li>
            <li class="ml-auto"><a class="btn btn-primary" th:href="@{/checkout(id=${shoppingCart.id})}">Check Out</a>
            </li>
            <br/>
            <div th:if="${notEnoughStock}" class="alert alert-warning">
                Oops, some of the products dont have enough stock. Please update product quantity!
            </div>
            <div th:if="${emptyCart}" class="alert alert-warning">
                Oops, your cart is empty. Please use bookshelf to find items and add to your cart!
            </div>
        </ol>
    </nav>

    <div class="row" style="margin-top: 10px">
        <div class="col-sm-12">
            <br/>
            <!--            description-->
            <div class="row">
                <div class="col-8"><h4>Products</h4></div>
                <div class="col-2"><h4>Price</h4></div>
                <div class="col-2"><h4>Qty</h4></div>
            </div>
            <!--   display products             -->
            <hr/>
            <form th:action="@{/updateCartItem}" method="post">
                <div class="row" th:each="cartItem : ${cartItemList}" style="margin-top: 10px">

                    <div class="col-2">
                        <a th:href="@{bookDetail(id=${cartItem.book.id})}">
                            <img style="width:70px;" class="img-responsive shelf-book center-block"
                                 th:src="@{/image/book/}+${cartItem.book.id}+'.png'"/>
                        </a>
                    </div>
                    <div class="col-6">
                        <div style="margin-left:50px;">
                            <a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
                                    th:text="${cartItem.book.title}"></h4></a>
                            <p th:if="${cartItem.book.inStockNumber&gt;10}"
                               style="color: green;">In Stock</p>
                            <p
                                    th:if="${cartItem.book.inStockNumber&lt;10 and cartItem.book.inStockNumber&gt;0}"
                                    style="color: orange;">
                                Only <span th:text="${cartItem.book.inStockNumber}"></span> In
                                Stock
                            </p>
                            <p th:if="${cartItem.book.inStockNumber==0}"
                               style="color: darkred;">Product Unavailable</p>
                            <a th:href="@{/removeItem?id=}+${cartItem.id}"><i class="fa fa-trash" aria-hidden="true" style="color: #db3208"> delete</i></a>
                        </div>
                    </div>

                    <div class="col-2">
                        <h5 style="color: #db3208; font-size: large;">
                            $<span th:text="${cartItem.book.ourPrice}"
                                   th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                        </h5>
                    </div>

                    <div class="col-2">
                        <input hidden="hidden" name="id" th:value="${cartItem.id}"/>
                        <input th:id="${cartItem.id}" th:name="qty" th:disabled="${cartItem.book.inStockNumber==0}"
                            class="form-control cartItemQty" th:value="${cartItem.qty}"/>
                        <button style="display: none;"
                                th:id="'update-item-'+${cartItem.id}" type="submit"
                                class="btn btn-warning btn-xs">Update
                        </button>

                    </div>

                </div>
            </form>
            <hr/>
            <!--            price-->
            <div class="row">
                <hr/>
                <h4 class="col-sm-12 text-right">
                    <strong style="font-size: large;">Total Price (<span
                            th:text="${#lists.size(cartItemList)}"></span> items):
                    </strong> <span style="color: #db3208; font-size: large;">&euro; <span
                        th:text="${shoppingCart.grandTotal}"></span></span>
                </h4>
            </div>

        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>
<div th:replace="common/footer :: scripts"></div>

</body>
</html>
